html {
  font-family: "Noto Sans", sans-serif;
}

i {
  font-family: "Noto Sans Japanese", sans-serif;
  font-style: normal;
}

.red {
  color: #860927;
}

.line {
  border-bottom: 2px solid #e2e2e2;
}
