html {
  font-family: "Noto Sans", sans-serif;
}

i {
  font-family: "Noto Sans Japanese", sans-serif;
}

.red {
  color: #b64c6e;
}

.red:hover {
  color: #860927;
}

.line {
  border-bottom: 1.5px solid #e2e2e2;
}

.line-top {
  border-top: 1.5px solid #e2e2e2;
}

.line-both {
  border-bottom: 1.5px solid #e2e2e2;
  border-top: 1.5px solid #e2e2e2;
}

.btn-ghost {
  color: #b64c6e;
  border: 2px solid #d89fb0;
}

.btn-ghost:hover {
  background-color: #b64c6e;
  color: #860927;
  border: 2px solid #860927;
}

a {
  text-decoration: none;
}

.grey {
  color: gray;
}

.red-line {
  border-bottom: 1.5px solid #d89fb0;
}

.red-line:hover {
  border-bottom: 1.5px solid #860927;
}

header {
  max-width: 1000px;
}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  ul {
    text-align: right;
  }

}
